---
layout: default
title: Home
---
<form>
<select id="categ1" data-placeholder="Choose a Category..." class="chosen-select" tabindex="2" depth="3">
<!-- <option></option>-->
</select><span id="hierarchial_children"></span>
<button id = "btnSubmit" type="button">Search</button>
</form>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <table class="datatables-table table table-striped table-hover table-bordered">
      <thead>
    <tr>
        <th>Title</th>
        <th>Preview</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
</div>
</div>
<script type="text/javascript">
var categoriesObj;
var table = $('.datatables-table');
table.DataTable({
  "bDestroy": true
});

function eachRecursive(obj, level, index, parent, selElement, parent_index) {
  index++;
  for (var k in obj) {
    //// console.log(" level -> "+level+" index -> "+index+" parent_index -> "+parent_index);
    if (typeof obj[k] == "object" && obj[k] !== null) {
      //// console.log(k+" -> "+index+" -> "+parent_index);
      if ((index == level) && (parent == parent_index)) {
        //// console.log(selElement);
        selElement
          .append($("<option></option>")
            .attr("value", k)
            .text(k));
      } else if (index == (level - 1)) {
        //// console.log("assigning parent " + k +" level -> "+level);
        parent_index = k;
      }
      if (index < level) {
        eachRecursive(obj[k], level, index, parent, selElement, parent_index);
      }
    }
  }
}

var request = $.ajax({
  url: '/api/v1/categories',
  type: 'GET',
  success: function(json) {
    var obj = JSON.parse(json.replace(/&quot;/g, '"'));
    categoriesObj = obj;
    // console.log(obj);
    var index = 0;
    var selElement = $('#categ1');
    //// console.log(selElement);
    eachRecursive(obj, 3, index, 'biology', selElement, '');
    $(".chosen-select").chosen();

    // Load default content.
    //$('.chosen-select').val( 3 );
    var secondSelect = selectOnChangeProcess(selElement);
    secondSelect.val('biodiversity');
    var thirdSelect = selectOnChangeProcess(secondSelect);
    thirdSelect.val('water-shed');
    selectOnChangeProcess(thirdSelect);
    $("#btnSubmit").trigger('click');
  }
});

request.fail(function(jqXHR, textStatus) {
  alert("Request failed: " + textStatus);
});

function drawRow(rowData) {
  var row = $("<tr />");
  var TagsContent = "";
  if (rowData.tags) {
    TagsContent = '<br/>Tags: ' + rowData.tags.join(", ");
  }
  // console.log("before drawing", $(".datatables-table tbody"));
  $(".datatables-table tbody").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
  // https://github.com/ressio/lazy-load-xt/#usage
  // console.log("after drawing", $(".datatables-table tbody"));
  var previewContent, postUrl = '';
  if (rowData.youtube_id) {
    postUrl = 'videos/html/' + rowData.url;
    previewContent = '<div class="video-container"><iframe class="lazyLoadXT1" width="200" height="150" src="https://www.youtube.com/embed/' + rowData.youtube_id + '" frameborder="0" allowfullscreen></iframe></div>';
  } else if (rowData.article_ref) {
    postUrl = 'articles/html/' + rowData.url;
    previewContent = '<div class="article-container"><a href="' + rowData.article_ref + '">' + urlFileName(rowData.article_ref) + '</a></div>';
  }
  row.append($("<td>" + '<a href="' + postUrl + '">' + rowData.title + '</a><br/>' + rowData.content + TagsContent + "</td>"));
  row.append($('<td>' + previewContent + '</td>'));
}

function urlFileName(str) {
  str = str.split('\\').pop().split('/').pop();
  str = str.replace(/_/g, ' ');
  if (str.length > 10) str = str.substring(0, 50) + "...";
  return str;
}

$('.chosen-select').change(function() {
  selectOnChangeProcess($(this));
});

function selectOnChangeProcess($this) {
  // console.log(categoriesObj);
  var selectedValue = $this.val();
  var selectedDepth = $this.attr("depth");
  //console.log("selected "+selectedValue + selectedDepth);
  // Clear all select elements after this element if exists
  $(".chosen-select").chosen("destroy");
  var x = $('.chosen-select').filter(function() {
    //console.log("removing", $(this));
    return $(this).attr("depth") > selectedDepth;
  });
  x.remove();
  $(".chosen-select").chosen();

  var newDepth = Number(selectedDepth) + 1;
  // console.log("newDepth "+newDepth);
  //var selElement = $('<select depth="'+newDepth+'" class="chosen-select">').appendTo('#hierarchial_children');
  var selElement = $('<select depth="' + newDepth + '" class="chosen-select">');
  //selElement.prepend($("<option></option>"));
  selElement.change(function() {
    selectOnChangeProcess(selElement);
  });
  var index = 0;
  eachRecursive(categoriesObj, newDepth, index, selectedValue, selElement);
  // console.log(selElement[0].length);
  if (selElement[0].length > 0) {
    selElement.prepend("<option value=''></option>").val('');
    selElement.appendTo('#hierarchial_children');
    $(".chosen-select").chosen();
  }
  return selElement;
}

$("#btnSubmit").click(function() {
  // console.log("Searching");
  var apiPath = '/api/v1/categories/ssc/biology';
  $('.chosen-select').each(function(key, value) {
    // console.log( $( this ).val() );
    apiPath = apiPath + "/" + $(this).val();
  });
  // console.log("apiPath "+apiPath);
  var request1 = $.ajax({
    url: apiPath,
    type: 'GET',
    success: function(json) {
      var obj = JSON.parse(json.replace(/&quot;/g, '"'));
      // Initialize DataTables
      var table = $('.datatables-table');
      table.dataTable().fnDestroy();
      $('.datatables-table tbody').empty();
      for (var k in obj.items) {
        //// console.log(k);
        if (!jQuery.isEmptyObject(obj.items[k])) {
          drawRow(obj.items[k]);
        }
      }

      //$('.lazyLoadXT').lazyLoadXT();


      table.DataTable({
        "bDestroy": true
      });

      // Initialize mark.js on table "draw" (search)
      table.on('draw', function() {

        // Get context
        var tableContent = $(table.table().body());
        // Get keyword
        var keyword = table.search();
        // Remove previous marks
        tableContent.unmark();
        // Mark the new search keyword
        //// console.log('Marking ' + table.search());
        tableContent.mark(keyword, {
          // Define mark.js options (see https://markjs.io/)
          "separateWordSearch": true
        });

        //$('.lazyLoadXT').lazyLoadXT();

      });

      //$('.lazyLoadXT').lazyLoadXT();

    }
  });

  request1.fail(function(jqXHR, textStatus) {
    alert("Request failed: " + textStatus);
  });
});
</script>
